.app {
  display: block;
}

.section {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 50px;
  width: 100%;
  max-width: 700px;
}
